.btn {
  display: flex; 
  justify-content: center;
  align-items: center;

  ion-button {
    color: black;
  }
}

.tittle{
  display: flex; 
  justify-content: center;
  align-items: center;
  color: #FFB800;
}

.calendar {
  margin-left: 25px;
  margin-right: 25px;


  table {
    width: 100%;
    border-collapse: collapse;

    th {
      background-color: #FFB800;
      color: white;
      padding: 10px;
      text-align: center;
    }

    td {
      padding: 10px;
      border: 1px solid #ddd;
      font-size: 14px;
    }
  }
}

.calendar-header {
  background-color: #FFB800;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar-row {
  border: 1px solid #ddd;

  td {
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
}

.centered-button {
  margin-left: 25px;
  /* Margen izquierdo de 25px */
  margin-right: 25px;
  /* Margen derecho de 25px */
}

.square-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-top: 0px;
  background-color: yellow;
}