<ion-app>
  <ion-menu contentId="main" menuId="first" side="start" swipe-gesture="false">
    <ion-header>
      <ion-toolbar>
        <ion-title>RegistrApp</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
       <ion-menu-toggle *ngFor="let c of metodo()">
          <ion-item [routerLink]="c. redirecTo" detail="true">
             <ion-icon slot="start" [name]="c.icon"></ion-icon>
             {{ c.name }}
          </ion-item>

       </ion-menu-toggle>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-menu-toggle (click)="logout()">
          <ion-item detail="true">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            Cerrar Sesion
          </ion-item>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>


  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>


<!-- <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
  Click me
</ion-button> -->