<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" mode="ios" color="success"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <div>
    <img src=".\assets\icon\hand-phone.png" class="ion-padding" height="250px" alt="">
    <h1>Funcionalidad</h1>

    <br>
    
    <div class="ion-text-justify" class="ion-padding">
      <h5>Los principales objetivos de la App son:</h5>
      <h5>• Reducir los tiempos destinados para registrar la asistencia. </h5>
      <h5>• Minimizar errores de registros por motivos ya mencionados. </h5>
      <h5>• Instar a los alumnos a asistir presencialmente a clases. </h5>
      <h5>• Mejorar el proceso de reportes de asistencias</h5>

    <p class="ion-justify-content-start" class="ion-padding-horizontal">Para usar esta aplicaion es necesario estar registrado.</p>
    </div>
  </div>
</ion-content>
